@import url("https://fonts.googleapis.com/css?family=Chivo");
@import url("https://fonts.googleapis.com/css?family=Roboto");
a {
  text-decoration: none;
  color: #EFEDEF; }

.paparecs {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, white 0%, #EFEDEF 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s ease all; }
  .paparecs .navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, #222022 0%, #12540D 250%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9000; }
    .paparecs .navbar .navhome {
      height: 100%;
      color: #EFEDEF;
      font-family: "Chivo", sans-serif;
      display: flex;
      font-size: 65px;
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
    .paparecs .navbar .navhome:hover {
      color: #CECCCE; }
    .paparecs .navbar .navlinks {
      height: 100%;
      width: 300px;
      color: #EFEDEF;
      font-family: "Chivo", sans-serif;
      font-size: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: calc(50% - 150px); }
      .paparecs .navbar .navlinks a:hover {
        color: #CECCCE; }
    .paparecs .navbar .navlinksright {
      height: 100%;
      color: #EFEDEF;
      font-family: "Chivo", sans-serif;
      display: flex;
      font-size: 25px;
      justify-content: flex-end;
      align-items: center; }
      .paparecs .navbar .navlinksright a {
        margin-right: 30px; }
      .paparecs .navbar .navlinksright a:hover {
        color: #CECCCE; }
  .paparecs .content {
    height: 91%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    transform: translateY(30px);
    overflow: auto; }
    .paparecs .content .cardholder {
      width: 400px;
      height: 500px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      border-radius: 5px; }
      .paparecs .content .cardholder .recimg {
        width: 400px;
        height: 310px;
        border-radius: 5px; }
        .paparecs .content .cardholder .recimg .imgimg {
          height: 100%;
          width: 100%;
          border-radius: 5px 5px 0px 0px; }
      .paparecs .content .cardholder .cards {
        width: 400px;
        height: 190px;
        background-color: white;
        color: black;
        font-family: "Chivo", sans-serif;
        text-align: center;
        border-radius: 5px; }
        .paparecs .content .cardholder .cards .cardtitle {
          text-align: center;
          font-size: 25px;
          margin-top: 5px;
          margin-bottom: 5px;
          color: black; }
        .paparecs .content .cardholder .cards .junk {
          height: 120px;
          width: 400px;
          font-family: "Roboto", sans-serif;
          display: flex;
          justify-content: space-around; }
          .paparecs .content .cardholder .cards .junk .junkleft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: black; }
            .paparecs .content .cardholder .cards .junk .junkleft .rating {
              font-size: 18px;
              transform: translateY(5px); }
              .paparecs .content .cardholder .cards .junk .junkleft .rating .publisher {
                margin-bottom: 4px;
                font-size: 20px; }
              .paparecs .content .cardholder .cards .junk .junkleft .rating .rat {
                margin-bottom: 4px; }
            .paparecs .content .cardholder .cards .junk .junkleft .selectbutton {
              color: black;
              font-family: "Roboto", sans-serif;
              border: 1px black solid;
              border-radius: 5px;
              font-size: 20px;
              padding: 7px;
              margin-top: 10px; }
            .paparecs .content .cardholder .cards .junk .junkleft .selectbutton:hover {
              background-color: #CECCCE; }
