@import url('https://fonts.googleapis.com/css?family=Chivo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$green-color: #12540D;
$green-color-hover: #0E3D0A;
$white-color: #EFEDEF;
$black-color: #222022;
$light-grey: #CECCCE;
$dark-grey: #4C4947;
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

a{text-decoration: none; color: $white-color;}

.papai{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/incooking.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar{
        width: 100%;
        height: 60px;
        background: linear-gradient(to bottom, $black-color 0%, $green-color 250%);
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 9000;
        .navhome{
            height: 100%;
            color: $white-color;
            font-family: $primary-font;
            display: flex;
            font-size: 65px;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
        }
        .navhome:hover{
            color: $light-grey;
        }
        .navlinks{
            height: 100%;
            width: 300px;
            color: $white-color;
            font-family: $primary-font;
            font-size: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            right: calc(50% - 150px);
            a:hover{
                color: $light-grey;
            }
        }
        .navlinksright{
            height: 100%;
            color: $white-color;
            font-family: $primary-font;
            display: flex;
            font-size: 25px;
            justify-content: flex-end;
            align-items: center;
            a{
                margin-right: 30px;
            }
            a:hover{
                color: $light-grey;
            }
        }
    }
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .intitle{
            color: $white-color;
            font-family: $primary-font;
            font-size: 35px;
            transform: translateY(20px);
            text-align: center;
        }
        .money{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(-120px);
            .thisone{
                display: flex;
                flex-direction: row;
                .input{
                    height: 35px;
                    width: 690px;
                    padding: 10px;
                    font-family: $secondary-font;
                    color: $white-color;
                    font-size: 20px;
                    border-radius: 5px 5px 0px 0px;
                    border: none;
                    border-bottom: 2px black solid;
                    color: black;
                }
                .input::-webkit-input-placeholder { 
                    color: $white-color;
                }
            }
            .randomholder{
                display: flex;
                height: 50px;
                width: 710px;
                font-family: $secondary-font;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                background-color: white;
                border-radius: 0px 0px 5px 5px;
                .randobutton{   
                    width: calc(660px / 5);
                    background-color: white;
                    height: 40px;
                    font-size: 20px;
                    text-align: center;
                    flex: 1;
                    padding: 5px;
                    color: black;
                }
                .randobutton:hover{
                    background-color: $light-grey;
                }
                .bfast{
                    border-radius: 0px 0px 0px 5px;
                }
                .drinks{
                    border-radius: 0px 0px 5px 0px;
                }
            }
        }
    }
}