@import url("https://fonts.googleapis.com/css?family=Chivo");
@import url("https://fonts.googleapis.com/css?family=Roboto");
a {
  text-decoration: none; }

.papaa {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/boozeguud.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .papaa .navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, #222022 0%, #12540D 250%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9000; }
    .papaa .navbar .navhome {
      height: 100%;
      color: #EFEDEF;
      font-family: "Chivo", sans-serif;
      display: flex;
      font-size: 65px;
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
    .papaa .navbar .navhome:hover {
      color: #CECCCE; }
    .papaa .navbar .navlinks {
      height: 100%;
      width: 300px;
      color: #EFEDEF;
      font-family: "Chivo", sans-serif;
      font-size: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: calc(50% - 150px); }
      .papaa .navbar .navlinks a:hover {
        color: #CECCCE; }
    .papaa .navbar .navlinksright {
      height: 100%;
      color: #EFEDEF;
      font-family: "Chivo", sans-serif;
      display: flex;
      font-size: 25px;
      justify-content: flex-end;
      align-items: center; }
      .papaa .navbar .navlinksright a {
        margin-right: 30px; }
      .papaa .navbar .navlinksright a:hover {
        color: #CECCCE; }
  .papaa .topholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #EFEDEF;
    font-family: "Roboto", sans-serif;
    height: 60%; }
    .papaa .topholder .toptext {
      width: 80%;
      text-align: center;
      font-size: 31px; }
    .papaa .topholder .contactbuttonholder {
      width: 33%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white; }
      .papaa .topholder .contactbuttonholder .fa {
        transition: all .6s ease-in-out; }
      .papaa .topholder .contactbuttonholder .fa:hover {
        color: #CECCCE;
        transform: scale(1.2); }
