@import url('https://fonts.googleapis.com/css?family=Chivo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$green-color: #12540D;
$white-color: #EFEDEF;
$black-color: #222022;
$light-grey: #CECCCE;
$dark-grey: #4C4947;
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

a{text-decoration: none; color: $white-color;}
a:hover{color: $light-grey}
.g:hover{color: $light-grey}

.navbar{
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, $black-color 0%, $green-color 250%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9000;
    .navhome{
        height: 100%;
        color: $white-color;
        font-family: $primary-font;
        display: flex;
        font-size: 65px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .navlinks{
        height: 100%;
        width: 300px;
        color: $white-color;
        font-family: $primary-font;
        font-size: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: calc(50% - 150px);
    }
    .navlinksright{
        height: 100%;
        color: $white-color;
        font-family: $primary-font;
        display: flex;
        font-size: 25px;
        justify-content: flex-end;
        align-items: center;
        a{
            margin-right: 30px;
        }
    }
}
.papah{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/pizza2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: all 2s ease;
    z-index: 1;
    position: fixed;
    .topholder{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white-color;
        font-family: $secondary-font;
        .toptext{
            height: 200px;
            width: 750px;
            text-align: center;
            font-size: 32px;
        }
    }
}

.papahgo{
    transform: translateY(-15vh);
}

.papahhide{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/pizza2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: all 2s ease;
    transform: translateY(100vh);
    z-index: 1; 
    position: fixed;
    .topholder{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white-color;
        font-family: $secondary-font;
        .toptext{
            height: 200px;
            width: 750px;
            text-align: center;
            font-size: 32px;
        }
    }
}

.maincard{
    top: 100vh;
    width: 100%;
    height: 100vh;
    background: url("../../assets/grill.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 2; 
    transition: all 2s ease;
    .maincardcontent{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        .mainwords{
            width: 70%;
            color: $white-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $secondary-font;
            font-size: 30px;
            .maincardtitle{
                font-size: 45px;
                font-family: $primary-font;
            }
            .inbutton{
                height: 60px;
                width: 300px;
                background-color: $black-color;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;
                .arrow{
                    background: url("../../assets/goodarrow.png");
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    height: 60px;
                    width: 62px;
                }
            }
        }
    }
}
.maincardshow{
    top: 0px;
    width: 100%;
    height: 100vh;
    background: url("../../assets/grill.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 2; 
    transition: all 2s ease;
    .maincardcontent{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        .mainwords{
            width: 70%;
            color: $white-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $secondary-font;
            font-size: 30px;
            .maincardtitle{
                font-size: 45px;
                font-family: $primary-font;
            }
            .inbutton{
                height: 60px;
                width: 300px;
                background-color: $black-color;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;
                .arrow{
                    background: url("../../assets/goodarrow.png");
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    height: 60px;
                    width: 62px;
                }
            }
            .inbutton:hover{
                background: linear-gradient(to bottom, $black-color 0%, $green-color 400%);
                text-decoration: none;
            }
        }
    }
}
.maincardgo{
    top: -15vh;
    width: 100%;
    height: 100vh;
    background: url("../../assets/grill.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 2; 
    transition: all 2s ease;
    .maincardcontent{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        .mainwords{
            width: 70%;
            color: $white-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $secondary-font;
            font-size: 30px;
            .maincardtitle{
                font-size: 45px;
                font-family: $primary-font;
            }
            .inbutton{
                height: 60px;
                width: 300px;
                background-color: $black-color;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;
                .arrow{
                    background: url("../../assets/goodarrow.png");
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    height: 60px;
                    width: 62px;
                }
            }
        }
    }
}
.secondcard{
    top: 100vh;
    width: 100%;
    height: 100vh;
    background: url("../../assets/restaurantgood.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 3; 
    transition: all 2s ease;
    .secondcardcontent{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        .secondwords{
            width: 70%;
            color: $white-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $secondary-font;
            font-size: 30px;
            .secondcardtitle{
                font-size: 45px;
                font-family: $primary-font;
            }
            .outbutton{
                height: 60px;
                width: 300px;
                background-color: $black-color;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;
                .arrow{
                    background: url("../../assets/goodarrowout.png");
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    height: 60px;
                    width: 62px;
                }
            }
        }
    }
}
.secondcardshow{
    top: 0px;
    width: 100%;
    height: 100vh;
    background: url("../../assets/restaurantgood.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 3; 
    transition: all 2s ease;
    .secondcardcontent{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        .secondwords{
            width: 70%;
            color: $white-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $secondary-font;
            font-size: 30px;
            .secondcardtitle{
                font-size: 45px;
                font-family: $primary-font;
            }
            .outbutton{
                height: 60px;
                width: 300px;
                background-color: $black-color;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;
                .arrow{
                    background: url("../../assets/goodarrowout.png");
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    height: 60px;
                    width: 62px;
                }
            }
            .outbutton:hover{
                background: linear-gradient(to bottom, $black-color 0%, $green-color 400%);
                text-decoration: none;
            }
        }
    }
}
.secondcardgo{
    top: -15vh;
    width: 100%;
    height: 100vh;
    background: url("../../assets/restaurantgood.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 3; 
    transition: all 2s ease;
    .secondcardcontent{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        .secondwords{
            width: 70%;
            color: $white-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $secondary-font;
            font-size: 30px;
            .secondcardtitle{
                font-size: 45px;
                font-family: $primary-font;
            }
            .outbutton{
                height: 60px;
                width: 300px;
                background-color: $black-color;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;
                .arrow{
                    background: url("../../assets/goodarrowout.png");
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    height: 60px;
                    width: 62px;
                }
            }
        }
    }
}

.topcardshow{
    top: 0px;
    width: 100%;
    height: 100vh;
    background: url("../../assets/steakphoto.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    transition: all 2s ease;
}

.topcardgo{
    transform: translateY(-15vh);
}