@import url('https://fonts.googleapis.com/css?family=Chivo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$green-color: #12540D;
$white-color: #EFEDEF;
$black-color: #222022;
$light-grey: #CECCCE;
$dark-grey: #4C4947;
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

a{text-decoration: none; color: $white-color;}

.paparests{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, white 0%, $white-color 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s ease all;
    .navbar{
        width: 100%;
        height: 60px;
        background: linear-gradient(to bottom, $black-color 0%, $green-color 250%);
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 9000;
        .navhome{
            height: 100%;
            color: $white-color;
            font-family: $primary-font;
            display: flex;
            font-size: 65px;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
        }
        .navhome:hover{
            color: $light-grey;
        }
        .navlinks{
            height: 100%;
            width: 300px;
            color: $white-color;
            font-family: $primary-font;
            font-size: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            right: calc(50% - 150px);
            a:hover{
                color: $light-grey;
            }
        }
        .navlinksright{
            height: 100%;
            color: $white-color;
            font-family: $primary-font;
            display: flex;
            font-size: 25px;
            justify-content: flex-end;
            align-items: center;
            a{
                margin-right: 30px;
            }
            a:hover{
                color: $light-grey;
            }
        }
    }
    .content{
        height: 91%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        transform: translateY(30px);
        overflow: auto;
        .cardholder{
            width: 400px;
            height: 500px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            .busimg{
                width: 400px;
                height: 310px;
                border-radius: 5px;
                .imgimg{
                    height: 100%;
                    width: 100%;
                    border-radius: 5px 5px 0px 0px;                    
                }
            }
            .cards{
                width: 400px;
                height: 190px;
                background-color: white;
                color: black;
                font-family: $primary-font;
                text-align: center;
                border-radius: 5px;
                .cardtitle{
                    text-align: center;
                    font-size: 25px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    color: black;
                }
                .junk{
                    height: 120px;
                    width: 400px;
                    font-family: $secondary-font;
                    display: flex;
                    justify-content: space-around;
                    .junkleft{
                        height: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        color: black;
                        .rating{
                            font-size: 18px;
                            transform: translateY(10px);
                            .rat{
                                margin-bottom: 4px;
                                font-size: 20px;
                            }
                            .rev{
                                font-size: 16px;
                                color: black;
                            }
                            .rev:hover{
                                color: $dark-grey;
                            }
                        }
                        .open{
                            font-size: 19px;
                        }
                    }
                    .junkright{
                        height: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        .address{
                            font-size: 20px;
                            transform: translateY(10px)
                        }
                        .gobutton{
                            height: 20px;
                            padding: 5px;
                            color: black;
                            width: 100;
                            border: 1px black solid;
                            border-radius: 5px;
                            font-size: 18px;
                        }
                        .gobutton:hover{
                            background-color: $light-grey;
                        }
                    }
                }
            }
        }
    }
}