@import url("https://fonts.googleapis.com/css?family=Chivo");
@import url("https://fonts.googleapis.com/css?family=Roboto");
a {
  text-decoration: none; }

.papa {
  background-image: url("../../assets/cook-food-kitchen-eat-54455.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .papa .herobox {
    width: 1000px;
    height: 400px;
    transform: translateY(-70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .papa .herobox .header {
      background: -webkit-linear-gradient(#EFEDEF, #CECCCE, #EFEDEF, #CECCCE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Chivo", sans-serif;
      font-size: 130px;
      font-weight: bold; }
    .papa .herobox .loginbutton {
      color: #EFEDEF;
      font-family: "Roboto", sans-serif;
      background-color: #222022;
      border: none;
      padding: 15px;
      font-size: 30px;
      border-radius: 5px;
      text-decoration: none; }
    .papa .herobox .loginbutton:hover {
      background: linear-gradient(to bottom, #222022 0%, #12540D 400%);
      text-decoration: none; }
