@import url('https://fonts.googleapis.com/css?family=Chivo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$green-color: #12540D;
$green-color-hover: #0E3D0A;
$white-color: #EFEDEF;
$black-color: #222022;
$light-grey: #CECCCE;
$dark-grey: #4C4947;
$radio-selected: #00C95A;
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

a{text-decoration: none; color: $white-color;}

.papard{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, white 0%, $white-color 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar{
        width: 100%;
        height: 60px;
        background: linear-gradient(to bottom, $black-color 0%, $green-color 250%);
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 9000;
        .navhome{
            height: 100%;
            color: $white-color;
            font-family: $primary-font;
            display: flex;
            font-size: 65px;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
        }
        .navlinks{
            height: 100%;
            width: 300px;
            color: $white-color;
            font-family: $primary-font;
            font-size: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navlinksright{
            height: 100%;
            color: $white-color;
            font-family: $primary-font;
            display: flex;
            font-size: 25px;
            justify-content: flex-end;
            align-items: center;
            a{
                margin-right: 30px;
            }
        }
    }
    .container{
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 55px;
        .leftstuff{
            margin: 10px;
            height: 100%;
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .name{
                width: 400px;
                font-family: $primary-font;
                display: flex;
                flex-direction: column;
                align-items: center;
                .resname{
                    font-size: 28px;
                    margin-top: 10px;
                    text-align: center;
                }
                .rating{
                    font-family: $secondary-font;
                    font-size: 21px;
                }
                .numrev{
                    font-family: $secondary-font;
                    font-size: 17px;
                }
            }
            .resinfo{
                width: 400px;
                display: flex;
                justify-content: space-around;
                margin-top: 15px;
                .leftinfo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: $secondary-font;
                    .address{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .adrtitle{
                            font-family: $primary-font;
                            font-size: 22px;
                        }
                    }
                    .phone{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 10px;
                        .phonetitle{
                            font-family: $primary-font;
                            font-size: 22px;
                        }
                    }
                }
                .rightinfo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: $secondary-font;
                    .hours{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        font-size: 15px;
                        .hourstitle{
                            font-family: $primary-font;
                            font-size: 22px;
                        }
                    }
                }
            }
            .mapholder{
                border: 1px $light-grey solid;
                margin-top: 15px;
            }
        }
        .rightstuff{
            margin-top: 10px;
            height: 100%;
            width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .photos{
                height: 380px;
                width: 730px;
                margin: 5px;
                margin-top: 7px;
                border: 1px $light-grey solid;
                .pics{
                    height: 380px;
                    width: 730px;
                }
            }
            .reviews{
                height: 100%;
                width: 730px;
                font-family: $secondary-font;
                .reviewbartitle{
                    font-family: $primary-font;
                    font-size: 28px;
                }
                .revlist{
                    width:750px;
                    height: 150px;
                    .revbox{
                        width: 750px;
                        height: 50px;
                        display: flex;
                        transform: translateY(-15px);
                        padding: 3px;
                        .revstuff{
                            flex: 9;
                            .user{
                                font-size: 20px;
                            }
                            .text{
                                font-size: 15px;
                                padding-left: 15px;
                            }
                        }
                        .revpic{
                            flex: 1;
                            .userimg{
                                height:40px;
                                width: 40px;
                                border-radius: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}